/* Google font used*/
  @import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

  /*Settings throughout the page*/
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Making all fonts the same through page*/
  li, a, button {
    font-family: "Cormorant", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
  }

  /* Header settings*/
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
  }

  /* Nav bar settings*/
  nav {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 300;
   order: 1;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    vertical-align: top;
    padding: 0px 20px;
    margin: 10px 20px
}

.nav_links li a {
    color: #333;
    float: right;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease 0;
    font-size: 30px;
}

.nav_links li a:hover {
    color: lightseagreen
}

.cta {
    order: 2;
}

/* Contact button characteristics*/
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: olivedrab;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
    font-size: 30px;
}

button:hover {
    background-color: green;
}

/* tiare background image */
.bgimage {
    height: 100vh;
    background: url(IMG_1508.jpeg);
    min-height: 380px;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}

/* Position the navbar container inside the image*/
.container {
    position: relative;
    margin: 20px;
    width: auto;
}

/* text css above hero image*/
.title {
    font-size: 4.5rem;
}
.desc {
    font-size: 2rem;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: none;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    background-color: none;
}




